.container-overflow {
   width: auto;
   height: 40rem;

   border-radius: 1rem;
   box-shadow: var(--boxshadow-1);
   overflow-x: hidden;
}

.container-overflow img {
    max-width: 100%;
}

.grid-212 {
    display: grid;
    grid-template-columns:  1fr 50px 1fr;

}

.container-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-arrow i{
    font-size: var(--fs-800);
}

body::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
}

body::-webkit-scrollbar-track {
    background-color: #fff;
}

body::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 4px solid #fff;
}

body::-webkit-scrollbar-button {
    display:none;
}

.container-overflow::-webkit-scrollbar {
    background-color: transparent;
    width: 12px;
}

.container-overflow::-webkit-scrollbar-track {
    background-color: transparent;
}

.container-overflow::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 4px solid #fff;
}

.container-overflow::-webkit-scrollbar-button {
    display:none;
}

.grid-3_1 {
    display: grid;
    grid-template-columns: 40rem 1fr;
    gap: 6rem;
}
