.container-overflow {
   width: auto;
   height: 48rem;
   border-radius: 1rem;
   box-shadow: var(--boxshadow-1);
   overflow-x: hidden;
}

.container-overflow img {
    max-width: 100%;
}

.grid-212 {
    display: grid;
    grid-template-columns:  1fr 50px 1fr;

}

.container-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-arrow i{
    font-size: var(--fs-800);
}

.grid-3_1 {
    display: grid;
    grid-template-columns: 40rem 1fr;
    gap: 6rem;
}

.cms-info li{
    padding: 0 0 1rem 0;
    margin: 0 0 0 1.2rem;
}